<li id="comment-<%=comment._id%>">
    <p>
        <% if(locals.user && (locals.user.id==comment.user.id || locals.user.id==post.user.id)){ %>
            <small><a class="delete-comment-button" href="/comments/delete/<%= comment._id %>">X</a></small>
            <% } %>
        <%= comment.content %> <br>
            <small>
                <%= comment.user.name %>
            </small>
            <div id="like_div_comment">
                <a href="/likes/toggle/?id=<%= comment._id %>&type=Comment" class="comment-like" id="like-<%=comment._id%>">
                    <i class="far fa-thumbs-up like_icon_comment "></i>
                    <i class="fas fa-thumbs-up like_icon_comment hide"></i>  
                </a>
            </div>
    </p>
    <p id="count-<%=comment.id%>">likes: <strong id="counts"><%=post.likes.length%></strong></p>

    
</li>