<li class="post" id="post-<%= post._id %>">
    <div class="post-content">
        <div class="details">
            <h3>
                <%= post.user.name %>
            </h3>
            <p>
                <%= post.content %>
            </p>
            <p id="count-<%=post.id%>">likes: <strong id="counts"><%=post.likes.length%></strong></p>

        </div>
        <%if(locals.user){%>
        <div class="like_div_post">
            <a href="/likes/toggle/?id=<%= post._id %>&type=Post" class="Postlike" id="like-<%=post.id%>">
                <i class="far fa-thumbs-up fa-2x like_icon_post "></i>
                <i class="fas fa-thumbs-up fa-2x like_icon_post hide"></i>  
            </a>
        </div>
        <%}%>
        <% if(locals.user && locals.user.id==post.user.id){ %>
            <div class="delete_post">
                <a class= "delete-post-button" href="/posts/destroy/<%= post.id %>">Delete</a>
            </div>
            <% } %>
    </div>
    <div class="post-comments">
        <% if(locals.user){ %>
            <!-- 2 ways to sent the posts id one is using the form action (/posts/comment/?id=<%= post._id %>") 
                2nd is using hidden input type with predefined value -->
            <form action="/comments/create" class="post-comment" id="post-<%= post._id %>-comments-form" method="POST">
                <textarea name="content" cols="30" rows="1" placeholder="Comment here ..."
                    required></textarea>
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="submit">
            </form>
            <% } %>
    </div>
    <div class="post-comments-list">

    <ul class="comment-list" id="post-comments-<%= post._id %>">
        <% for(let comment of post.comments){ %>
            <%- include('_comment',{comment:comment})  -%>
            <% } %>
    </ul>     
</div>
</li>