<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chat.css">
<h1>codial / <%= title %>
</h1>
<div id="home-container">
    <section id="posts-container">
        <div id="feed-posts">
            <% if(locals.user){ %>
                <h2>Posts</h2>
                <form action="/posts/create" method="POST" id="new-post">
                    <textarea name="content" cols="90" rows="3" required placeholder="type here ..."></textarea>
                    <input type="submit" value="Post" id="submit_post">
                </form>
                <% } %>
        </div>

        <div id="posts-list-container">
            <h2>Posts List</h2>
            <ul>
                <% for(let post of post_list){ %>
                    <%- include('_post',{post:post}) -%>

                    <% } %>

            </ul>

        </div>  
</section>
<div id="friend-user-list">
    <% if(locals.user){%>
        <%- include('_friends',{friends:friends}) -%>
        <%} %>
    <%- include('_all_users',{all_users:all_users}) -%>
</div>


<%- include('_chat'); %>

</div>


<script src="/js/comments.js"></script>
<script src="/js/home_posts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js" integrity="sha512-iZIBSs+gDyTH0ZhUem9eQ1t4DcEn2B9lHxfRMeGQhyNdSUz+rb+5A3ummX6DQTOIs1XK0gOteOg/LPtSo9VJ+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>