<h1>codial / <%= title %>
</h1>

<section id="feed-posts">
    <% if(locals.user){ %>
        <h2>Posts</h2>
        <form action="/posts/create" method="POST" id="new-post">
            <textarea name="content" cols="30" rows="3" required placeholder="type here ..."></textarea>
            <input type="submit" value="Post">
        </form>
        <% } %>
</section>

<section id="post-list">
    <h2>Posts List</h2>
    <ul>
        <% for(let post of post_list){ %>
            <li>
                <div class="post-content">
                    <p>
                        <%= post.content %>
                            <br>
                            <%= post.user.name %>
                    </p>
                </div>
                <div>
                    <% if(locals.user){ %>
                        <!-- 2 ways to sent the posts id one is using the form action (/posts/comment/?id=<%= post._id %>") 
                            2nd is using hidden input type with predefined value -->
                        <form action="/comments/create" id="post-comment" method="POST">
                            <textarea name="content" cols="20" rows="2" placeholder="Comment here ..."
                                required></textarea>
                            <input type="hidden" name="post" value="<%= post._id %>">
                            <input type="submit" value="submit">
                        </form>
                        <% } %>
                </div>
            </li>

            <% } %>

    </ul>

</section>