<h1>codial /<%= title %> page
</h1>
<p>
    <%= profile_user.name %>
</p>
<p>
    <%= profile_user.email %>
</p>

<% if(locals.user.id == profile_user.id){ %>
    <h3>Edit Profile </h3>
    <form action="/users/update/<%= profile_user.id %>" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%= user.name %>">
        <label for="email">Email:</label>
        <input type="email" name="email" value="<%= user.email %>">
        <input type="submit" value="Save">
    </form>
    <%}%>

