<style>
    .hide{
        display:none;
    }
</style>
<h1>profile page
</h1>

<img src="<%= profile_user.avatar%>" alt="<%=profile_user.name%>" width="100px">
<p>
    <%= profile_user.name %>
</p>
<p>
    <%= profile_user.email %>
</p>

        <div class="toggle-friend-btn">
            <% var added="",notadded=""; %>
<% if(locals.user && locals.user.friends.includes(profile_user._id)){%>
    <% added="hide" %>
    <%}else{%>
        <% notadded="hide" %>
        <%} %>
        <a href="/friends/add/<%= profile_user.id %>" id="add-friend-<%= profile_user.id %>" class="add-friend <%=added%>">add friend</a>
        <a href="/friends/remove/<%= profile_user.id %>" id="remove-friend-<%= profile_user.id %>" class="remove-friend <%=notadded%>">remove Friend</a>
        </div>

<% if(locals.user.id == profile_user.id){ %>
    <h3>Edit Profile </h3>
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%= user.name %>" required >
        <label for="email">Email:</label>
        <input type="email" name="email" value="<%= user.email %>" required>
        <input type="file" name="avatar" placeholder="upload Profile picture">
   
        <input type="submit" value="Save">
    </form>
    <%}%>

    <script src="/js/friends.js"></script>